.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.bg{
  background-image: url("https://w.wallhaven.cc/full/pk/wallhaven-pkw6y3.jpg");
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* Margin and Headings */
.top_60 {
  margin-top: 60px !important;
}
.top_30 {
  margin-top: 30px !important;
}
.m_20 {
  margin: 20px !important;
}
.m_30 {
  margin: 30px !important;
}
.mb_30 {
  margin-bottom: 30px !important;
}
.mb_20 {
  margin-bottom: 20px !important;
}

.p_30 {
  padding: 30px !important;
}
.pt_45 {
  padding-top: 30px !important;
}
.pb_45 {
  padding-bottom: 45px !important;
}
/* End Margin and Headings */